<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
		<dict>
			<key>id</key>
			<string>b00001</string>
			<key>title</key>
			<string>红楼梦</string>
			<key>image</key>
			<string>http://127.0.0.1/~sun/books/fav/images/1.png</string>
			<key>file</key>
			<string>http://127.0.0.1/~sun/books/fav/1.txt</string>
		</dict>
		<dict>
			<key>id</key>
			<string>b00001</string>
			<key>title</key>
			<string>水浒传</string>
			<key>image</key>
			<string>http://127.0.0.1/~sun/books/fav/images/1.png</string>
			<key>file</key>
			<string>http://127.0.0.1/~sun/books/fav/1.txt</string>
		</dict>
		<dict>
			<key>id</key>
			<string>b00001</string>
			<key>title</key>
			<string>红楼梦</string>
			<key>image</key>
			<string>http://127.0.0.1/~sun/books/fav/images/1.png</string>
			<key>file</key>
			<string>http://127.0.0.1/~sun/books/fav/1.txt</string>
		</dict>
		<dict>
			<key>id</key>
			<string>b00001</string>
			<key>title</key>
			<string>红楼梦</string>
			<key>image</key>
			<string>http://127.0.0.1/~sun/books/fav/images/1.png</string>
			<key>file</key>
			<string>http://127.0.0.1/~sun/books/fav/1.txt</string>
		</dict>
		<dict>
			<key>id</key>
			<string>b00001</string>
			<key>title</key>
			<string>红楼梦</string>
			<key>image</key>
			<string>http://127.0.0.1/~sun/books/fav/images/1.png</string>
			<key>file</key>
			<string>http://127.0.0.1/~sun/books/fav/1.txt</string>
		</dict>
		<dict>
			<key>id</key>
			<string>b00001</string>
			<key>title</key>
			<string>红楼梦</string>
			<key>image</key>
			<string>http://127.0.0.1/~sun/books/fav/images/1.png</string>
			<key>file</key>
			<string>http://127.0.0.1/~sun/books/fav/1.txt</string>
		</dict>
		<dict>
			<key>id</key>
			<string>b00001</string>
			<key>title</key>
			<string>红楼梦</string>
			<key>image</key>
			<string>http://127.0.0.1/~sun/books/fav/images/1.png</string>
			<key>file</key>
			<string>http://127.0.0.1/~sun/books/fav/1.txt</string>
		</dict>
		<dict>
			<key>id</key>
			<string>b00001</string>
			<key>title</key>
			<string>红楼梦</string>
			<key>image</key>
			<string>http://127.0.0.1/~sun/books/fav/images/1.png</string>
			<key>file</key>
			<string>http://127.0.0.1/~sun/books/fav/1.txt</string>
		</dict>
	</array>
</plist>
