<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
		<key>id</key>
		<string>102</string>
		<key>nameBook</key>
		<string>蛙</string>
		<key>imgBook</key>
		<string>none</string>
		<key>fileBook</key>
		<string>《蛙》作者：莫言</string>
		<key>typeBook</key>
		<string>txt</string>
	</dict>
	<dict>
		<key>id</key>
		<string>102</string>
		<key>nameBook</key>
		<string>倒立</string>
		<key>imgBook</key>
		<string>none</string>
		<key>fileBook</key>
		<string>《倒立》作者：莫言</string>
		<key>typeBook</key>
		<string>txt</string>
	</dict>
	<dict>
		<key>id</key>
		<string>103</string>
		<key>nameBook</key>
		<string>儿子的敌人</string>
		<key>imgBook</key>
		<string>none</string>
		<key>fileBook</key>
		<string>《儿子的敌人》作者：莫言</string>
		<key>typeBook</key>
		<string>txt</string>
	</dict>
	<dict>
		<key>id</key>
		<string>104</string>
		<key>nameBook</key>
		<string>四十一炮</string>
		<key>imgBook</key>
		<string>none</string>
		<key>fileBook</key>
		<string>《四十一炮》作者：莫言</string>
		<key>typeBook</key>
		<string>txt</string>
	</dict>
	<dict>
		<key>id</key>
		<string>105</string>
		<key>nameBook</key>
		<string>师傅越来越幽默</string>
		<key>imgBook</key>
		<string>none</string>
		<key>fileBook</key>
		<string>《师傅越来越幽默》作者：莫言</string>
		<key>typeBook</key>
		<string>txt</string>
	</dict>
	<dict>
		<key>id</key>
		<string>106</string>
		<key>nameBook</key>
		<string>《拇指铐》</string>
		<key>imgBook</key>
		<string>none</string>
		<key>fileBook</key>
		<string>《拇指铐》作者：莫言</string>
		<key>typeBook</key>
		<string>txt</string>
	</dict>
	<dict>
		<key>id</key>
		<string>107</string>
		<key>nameBook</key>
		<string>《檀香刑》</string>
		<key>imgBook</key>
		<string>none</string>
		<key>fileBook</key>
		<string>《檀香刑》作者：莫言</string>
		<key>typeBook</key>
		<string>txt</string>
	</dict>
	<dict>
		<key>id</key>
		<string>108</string>
		<key>nameBook</key>
		<string>《牛》</string>
		<key>imgBook</key>
		<string>none</string>
		<key>fileBook</key>
		<string>《牛》作者：莫言</string>
		<key>typeBook</key>
		<string>txt</string>
	</dict>
	<dict>
		<key>id</key>
		<string>109</string>
		<key>nameBook</key>
		<string>《红树林》</string>
		<key>imgBook</key>
		<string>none</string>
		<key>fileBook</key>
		<string>《红树林》作者：莫言</string>
		<key>typeBook</key>
		<string>txt</string>
	</dict>
	<dict>
		<key>id</key>
		<string>100</string>
		<key>nameBook</key>
		<string>三十年前的一次长跑比赛</string>
		<key>imgBook</key>
		<string>none</string>
		<key>fileBook</key>
		<string>《三十年前的一次长跑比赛》作者：莫言</string>
		<key>typeBook</key>
		<string>txt</string>
	</dict>
	<dict>
		<key>id</key>
		<string>110</string>
		<key>nameBook</key>
		<string>《红蝗》</string>
		<key>imgBook</key>
		<string>none</string>
		<key>fileBook</key>
		<string>《红蝗》作者：莫言</string>
		<key>typeBook</key>
		<string>txt</string>
	</dict>
	<dict>
		<key>id</key>
		<string>111</string>
		<key>nameBook</key>
		<string>《红高粱》</string>
		<key>imgBook</key>
		<string>none</string>
		<key>fileBook</key>
		<string>《红高粱》作者：莫言</string>
		<key>typeBook</key>
		<string>txt</string>
	</dict>
	<dict>
		<key>id</key>
		<string>112</string>
		<key>nameBook</key>
		<string>《良心作证》</string>
		<key>imgBook</key>
		<string>none</string>
		<key>fileBook</key>
		<string>《良心作证》作者：莫言 阎连科</string>
		<key>typeBook</key>
		<string>txt</string>
	</dict>
	<dict>
		<key>id</key>
		<string>113</string>
		<key>nameBook</key>
		<string>会唱歌的墙</string>
		<key>imgBook</key>
		<string>none</string>
		<key>fileBook</key>
		<string>《莫言散文精品集：会唱歌的墙》作者：莫言</string>
		<key>typeBook</key>
		<string>txt</string>
	</dict>
	<dict>
		<key>id</key>
		<string>101</string>
		<key>nameBook</key>
		<string>丰乳肥臀</string>
		<key>imgBook</key>
		<string>none</string>
		<key>fileBook</key>
		<string>《丰乳肥臀》作者：莫言</string>
		<key>typeBook</key>
		<string>txt</string>
	</dict>
	<dict>
		<key>id</key>
		<string>114</string>
		<key>nameBook</key>
		<string>《蝗虫奇谈》</string>
		<key>imgBook</key>
		<string>none</string>
		<key>fileBook</key>
		<string>《蝗虫奇谈》作者：莫言</string>
		<key>typeBook</key>
		<string>txt</string>
	</dict>
	<dict>
		<key>id</key>
		<string>115</string>
		<key>nameBook</key>
		<string>《透明的红萝卜》</string>
		<key>imgBook</key>
		<string>none</string>
		<key>fileBook</key>
		<string>《透明的红萝卜》作者：莫言</string>
		<key>typeBook</key>
		<string>txt</string>
	</dict>
	<dict>
		<key>id</key>
		<string>116</string>
		<key>nameBook</key>
		<string>《酒神》</string>
		<key>imgBook</key>
		<string>none</string>
		<key>fileBook</key>
		<string>《酒神》作者：莫言</string>
		<key>typeBook</key>
		<string>txt</string>
	</dict>
	<dict>
		<key>id</key>
		<string>117</string>
		<key>nameBook</key>
		<string>难忘那带着口罩接吻的爱</string>
		<key>imgBook</key>
		<string>none</string>
		<key>fileBook</key>
		<string>《难忘那带着口罩接吻的爱》作者：莫言</string>
		<key>typeBook</key>
		<string>txt</string>
	</dict>
	<dict>
		<key>id</key>
		<string>191</string>
		<key>nameBook</key>
		<string>软件说明</string>
		<key>imgBook</key>
		<string>none</string>
		<key>fileBook</key>
		<string>About</string>
		<key>typeBook</key>
		<string>txt</string>
	</dict>
</array>
</plist>
